#####################################
# 以下为LJL在本地配置是用的requirement.txt
# python version = 3.11.15
Flask==2.3.3
Flask-CORS==4.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
eventlet==0.33.3
opencv-python==4.8.1.78
numpy==1.24.3
mediapipe==0.10.7
torch==2.0.1
torchvision==0.15.2
protobuf==3.20.3
ultralytics

#######################################
#######################################
# # 基础 Web 框架
# Flask==2.3.3
# Flask-CORS==4.0.0
# Flask-SocketIO==5.3.4
# eventlet==0.33.3

# 其他常用工具（如果用到）
# requests
# scipy==1.10.1
# matplotlib==3.7.1
